* p {
  color: #4F4F4F;
}

.title h1 {
  color: #459839;
  text-align: center;
  font-weight: bold;
}

.data-base label {
  color: #82b633;
  font-weight: bold;
  font-size: 20px;
}

footer .container-fluid {
  border-top: 10px solid #82b633;
}

footer .container-fluid .row {
  justify-content: center;
  align-items: center;
}

footer .logo {
  text-align: center;
}

footer .row p {
  font-size: 12px;
}

.menu-footer {
  list-style: none;
  padding: 0%;
  border-left: 2px solid #82b633;
  padding-left: 20%;
}

.menu-footer li {
  margin-bottom: -5px;
}

.menu-footer li a {
  color: #4F4F4F;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.active {
  color: #82b633 !important;
}

.info-social {
  text-align: center;
}

.info-social p {
  color: #4F4F4F;
  margin-bottom: 0.4rem;
}

.info-social p a {
  text-decoration: none;
  color: #4F4F4F;
}

.fa-phone {
  color: #82b633;
}

.fa-whatsapp {
  color: #82b633;
}

.fa-envelope {
  color: #82b633;
}

#realNavbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchNavBar {
  margin-left: 2vw;
}

@media screen and (min-width:576px) and (max-width:768px) {
  footer .container-fluid {
    border-top: 10px solid #82b633;
  }

  footer .row p {
    font-size: 15px;
  }

  .menu-footer {
    list-style: none;
    padding: 0%;
    border-left: 2px solid #82b633;
    padding-left: 20%;
  }

  .menu-footer li {
    margin-bottom: -5px;
  }

  .menu-footer li a {
    color: #4F4F4F;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
  }

  .active {
    color: #82b633 !important;
  }

  .contact-way {
    order: 3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fa-phone {
    font-size: 15px;
    margin-right: 2%;
    color: #82b633;
  }

  .fa-whatsapp {
    margin-right: 3%;
    font-size: 15px;
    color: #82b633;
  }

  .fa-envelope {
    margin-right: 3%;
    font-size: 15px;
    color: #82b633;
  }

  .row span {
    color: #4F4F4F;
    font-size: 15px;
  }

  .row a {
    font-size: 15px;
    color: #4F4F4F;
    text-decoration: none;
  }

  .background {
    padding-top: 2%;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {

  .title h1 {
    color: #459839;
    text-align: center;
    font-weight: bold;
  }

  .data-base label {
    color: #82b633;
    font-weight: bold;
    font-size: 30px;
  }

  .data-base button .btn {
    font-size: 25px;
  }

  footer .container-fluid {
    border-top: 10px solid #82b633;
  }

  footer .row p {
    font-size: 15px;
  }

  .menu-footer {
    list-style: none;
    padding: 0%;
    border-left: 2px solid #82b633;
    padding-left: 20%;
  }

  .menu-footer li {
    margin-bottom: -5px;
  }

  .menu-footer li a {
    color: #4F4F4F;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
  }

  .active {
    color: #82b633 !important;
  }

  .contact-way {
    order: 0;
    text-align: left;
    flex-direction: column;
  }

  .fa-phone {
    font-size: 15px;
    margin-right: 2%;
    color: #82b633;
  }

  .fa-whatsapp {
    margin-right: 3%;
    font-size: 15px;
    color: #82b633;
  }

  .fa-envelope {
    margin-right: 3%;
    font-size: 15px;
    color: #82b633;
  }

  .row span {
    color: #4F4F4F;
    font-size: 15px;
  }

  .row a {
    font-size: 15px;
    color: #4F4F4F;
    text-decoration: none;
  }

  .background {
    padding-top: 2%;
  }
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .title h1 {
    color: #459839;
    text-align: center;
    font-weight: bold;
  }

  .data-base {
    margin: auto;
    width: 50%;
  }

  .data-base label {
    color: #82b633;
    font-weight: bold;
    font-size: 30px;
  }


  footer .container-fluid {
    border-top: 10px solid #82b633;
  }

  footer .row p {
    font-size: 20px;
  }

  .menu-footer {
    list-style: none;
    padding: 0%;
    border-left: 2px solid #82b633;
    padding-left: 20%;
  }

  .menu-footer li {
    margin-bottom: -5px;
  }

  .menu-footer li a {
    color: #4F4F4F;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
  }

  .active {
    color: #82b633 !important;
  }

  .contact-way {
    order: 0;
    text-align: left;
  }

  .fa-phone {
    font-size: 20px;
    margin-right: 2%;
    color: #82b633;
  }

  .fa-whatsapp {
    margin-right: 3%;
    font-size: 20px;
    color: #82b633;
  }

  .fa-envelope {
    margin-right: 3%;
    font-size: 20px;
    color: #82b633;
  }

  .row span {
    color: #4F4F4F;
    font-size: 20px;
  }

  .row a {
    font-size: 20px;
    color: #4F4F4F;
    text-decoration: none;
  }

  .background {
    padding-top: 2%;
  }
}

@media screen and (min-width:1200px) and (max-width:1400px) {
  .title h1 {
    color: #459839;
    text-align: center;
    font-weight: bold;
  }

  .data-base {
    margin: auto;
    width: 70%;
  }

  .data-base label {
    color: #82b633;
    font-weight: bold;
    font-size: 30px;
  }

  footer .container-fluid {
    border-top: 10px solid #82b633;
  }

  footer .row p {
    font-size: 20px;
  }

  .menu-footer {
    list-style: none;
    padding: 0%;
    border-left: 2px solid #82b633;
    padding-left: 20%;
  }

  .menu-footer li {
    margin-bottom: -5px;
  }

  .menu-footer li a {
    color: #4F4F4F;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
  }

  .active {
    color: #82b633 !important;
  }

  .contact-way {
    order: 0;
    text-align: left;
  }

  .fa-phone {
    font-size: 20px;
    margin-right: 2%;
    color: #82b633;
  }

  .fa-whatsapp {
    margin-right: 3%;
    font-size: 20px;
    color: #82b633;
  }

  .fa-envelope {
    margin-right: 3%;
    font-size: 20px;
    color: #82b633;
  }

  .row span {
    color: #4F4F4F;
    font-size: 20px;
  }

  .row a {
    font-size: 20px;
    color: #4F4F4F;
    text-decoration: none;
  }

  .background {
    padding-top: 2%;
  }


}

@media screen and (min-width:1400px) {
  section .container {
    margin-bottom: 5%;
  }

  .title h1 {
    color: #459839;
    text-align: center;
    font-weight: bold;
  }

  .data-base {
    margin: auto;
    width: 70%;
    margin-bottom: 50%;
  }

  .data-base label {
    color: #82b633;
    font-weight: bold;
    font-size: 30px;
  }

  .data-base button {
    font-size: 25px;
  }

  footer .container-fluid {
    border-top: 10px solid #82b633;
  }

  footer .row p {
    font-size: 25px;
  }

  .menu-footer {
    list-style: none;
    padding: 0%;
    border-left: 2px solid #82b633;
    padding-left: 20%;
  }

  .menu-footer li {
    margin-bottom: -5px;
  }

  .menu-footer li a {
    color: #4F4F4F;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
  }

  .active {
    color: #82b633 !important;
  }

  .contact-way {
    order: 0;
    text-align: left;
  }

  .fa-phone {
    font-size: 25px;
    margin-right: 2%;
    color: #82b633;
  }

  .fa-whatsapp {
    margin-right: 3%;
    font-size: 25px;
    color: #82b633;
  }

  .fa-envelope {
    margin-right: 3%;
    font-size: 25px;
    color: #82b633;
  }

  .row span {
    color: #4F4F4F;
    font-size: 25px;
  }

  .row a {
    font-size: 25px;
    color: #4F4F4F;
    text-decoration: none;
  }

  .background {
    padding-top: 2%;
  }


}